@(userInputForm: Form[uk.gov.hmrc.payetaxcalculatorfrontend.model.UserInput], result: String)(implicit request: Request[_], messages: Messages))


@uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template(title = "Hello from paye-tax-calculator-frontend", bodyClasses = None) {
    <header class="page-header">
        <h1>Hello from paye-tax-calculator-frontend !</h1>
    </header>

    @helper.form(uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.HelloWorld.calculate) {

        @userInputForm.globalError.map { error =>
            <div class="flash error-summary error-summary--show">
                @error.message
            </div>
        }

        @helper.CSRF.formField

        <fieldset class="form-field-group">
            <label for="isStatePensionAge">
                is State Pension Age:
                <input
                type="text"
                name="isStatePensionAge"
                id="isStatePensionAge"
                value="@userInputForm("isStatePensionAge").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group">
            <label for="taxYear">
                taxYear:
                <input
                type="text"
                name="taxYear"
                id="taxYear"
                value="@userInputForm("taxYear").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group">
            <label for="taxCode">
                taxCode:
                <input
                type="text"
                name="taxCode"
                id="taxCode"
                value="@userInputForm("taxCode").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group">
            <label for="grossPayPence">
                grossPayPence:
                <input
                type="text"
                name="grossPayPence"
                id="grossPayPence"
                value="@userInputForm("grossPayPence").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group">
            <label for="payPeriod">
                payPeriod:
                <input
                type="text"
                name="payPeriod"
                id="payPeriod"
                value="@userInputForm("payPeriod").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group">
            <label for="hoursIn">
                hoursIn:
                <input
                type="text"
                name="hoursIn"
                id="hoursIn"
                value="@userInputForm("hoursIn").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <input type="submit" class="button" value="Calculate" />


        @result

    }

}
