@import play.api.i18n._
@import uk.gov.hmrc.payetaxcalculatorfrontend.model.{Over65, YouHaveToldUsItem}
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.quickcalc.you_have_told_us
@(over65Form: Form[Over65], youHaveToldUsItems: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages)
@radioField = @{ over65Form("over65") }

@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width")) {

  <div class="grid-layout">

    <div class="grid-layout__column grid-layout__column--2-3">

      <header class="page-header">
        <h1>@Messages("quick_calc.over_65.header")</h1>
      </header>

      <form action = "@uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.QuickCalcController.submitAgeForm" method="post">
        @helper.CSRF.formField

        <div class="form-group">
          <fieldset class="inline form-field-group"
          id="over65">

            <label class="block-label" for="over65-yes">@Messages("quick_calc.over_65.yes")
              <input type="radio"
              id="over65-yes"
              name="over65"
              value="true"
              @if(radioField.value.contains("true")) { checked="checked" }
              required />
            </label>

            <label class="block-label" for="over65-no">@Messages("quick_calc.over_65.no")
              <input type="radio"
              id="over65-no"
              name="over65"
              value="false"
              @if(radioField.value.contains("false")) { checked="checked" }
              required/>
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>

    <div class="grid-layout__column grid-layout__column--1-3">
      @you_have_told_us(youHaveToldUsItems)
    </div>
  </div>

}

