@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import play.api.i18n._
@import views.html.helper._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.payetaxcalculatorfrontend.controllers

@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.{Hours, YouHaveToldUsItem}

@(valueInPence:Int, hoursForm: Form[Hours], youHaveToldUsItems: List[YouHaveToldUsItem], url: String)(implicit request: Request[_], messages: Messages)
@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width")) {

  <div class="grid-layout grid-layout--stacked">

    <a class="link-back" href="@url">@Messages("back")</a>

    <h1 class="heading-large">@Messages("quick_calc.salary.question.hours_a_week")</h1>

    <p>@Messages("quick_calc.salary.question.approximate")</p>

    @helper.form(action = controllers.routes.QuickCalcController.submitHoursAWeek(valueInPence)) {
      @helper.CSRF.formField

      <fieldset class="form-field-group">
        @if(hoursForm("howManyAWeek").hasErrors){
          <label class="form-field--error">
            <div class="error-notification">
              @{hoursForm("howManyAWeek").errors.head.message}
            </div>
          </label>
        }
        <input style= "display:inline " type="text" name="howManyAWeek" maxlength="3" size="3" required />
      </fieldset>

      <input type="hidden" name="value" value=@valueInPence>
      <br>
      <br>

      <div class="form-group">
        <input type="submit" class="button" value="@Messages("continue")">
      </div>

    }

  </div>

}
