@import uk.gov.hmrc.payetaxcalculatorfrontend.views.quickcalc.YouHaveToldUsItem
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.quickcalc.you_have_told_us


@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("quick_calc_form.title"), mainClass = Some("full-width")) {

  <div class="grid-layout">

    <div class="grid-layout__column grid-layout__column--2-3">

      <header class="page-header">
        <h1>Question</h1>
      </header>

      <fieldset class="form-field-group js-visible js-aria-show js-toggle"
                id="us-number"
                data-trigger="js-toggle-trigger">
        <label class="block-label" for="us-phone-number-toggle-open">Yes
          <input type="radio"
                 id="us-phone-number-toggle-open"
                 class="js-toggle-trigger"
                 data-target="us-phone-number-open-target"
                 value="yes"
                 name="us-number"
                 required />
        </label>
        <div id="us-phone-number-open-target" class="panel-indent hidden">
          <h2>Open</h2>
          <p>Example paragraph text</p>
        </div>
        <label class="block-label" for="us-phone-number-toggle-close">No
          <input type="radio"
                 id="us-phone-number-toggle-close"
                 class="js-toggle-trigger"
                 data-target="us-phone-number-close-target"
                 value="no"
                 name="us-number"
                 required/>
        </label>
        <div id="us-phone-number-close-target" class="panel-indent hidden">
          <h2>Close</h2>
          <p>Example paragraph text</p>
        </div>
      </fieldset>
    </div>

    <div class="grid-layout__column grid-layout__column--1-3">
      @you_have_told_us(List(YouHaveToldUsItem(value = "1100L", label = "Tax Code", url = "/foo/bar")))
    </div>

  </div>

}