@import uk.gov.hmrc.payetaxcalculatorfrontend.model.{UserTaxCode, YouHaveToldUsItem}
@import uk.gov.hmrc.payetaxcalculatorfrontend.model.UserTaxCode._
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.quickcalc.you_have_told_us

@(userTaxCodeForm: Form[UserTaxCode], youHaveToldUsItems: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages, flash: Flash)

@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width")) {

  <div class="grid-layout">

    <div class="grid-layout__column grid-layout__column--2-3">

      <header class="page-header">
        <h1>@Messages("quick_calc.about_tax_code.header")</h1>
      </header>

      @helper.form(action = uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.QuickCalcController.submitTaxCodeForm) {
        @helper.CSRF.formField

        <div class="form-group">
          <fieldset class="inline form-field-group js-visible js-aria-show js-toggle"
          id="hasTaxCode"
          data-target="tax-code-yes-target"
          data-trigger="js-toggle-trigger"
          data-open="tax-code-yes"
          data-close="tax-code-no">

            <label class="block-label" for="tax-code-yes">@Messages("quick_calc.about_tax_code.has_tax_code_yes")
              <input type="radio"
              id="tax-code-yes"
              class="js-toggle-trigger"
              name="hasTaxCode"
              value="true"
              @checkUserSelection(selection = true, userTaxCodeForm, flash)
              required />
            </label>

            <label class="block-label" for="tax-code-no">@Messages("quick_calc.about_tax_code.has_tax_code_no")
              <input type="radio"
              id="tax-code-no"
              class="js-toggle-trigger"
              name="hasTaxCode"
              value="false"
              @checkUserSelection(selection = false, userTaxCodeForm, flash)
              required />
            </label>

            <div class="form-field-group form-field--error panel-indent @hideTextField(userTaxCodeForm, flash)" id="tax-code-yes-target">
              @if(flash.get("error").isDefined){
                <div class=" error-notification">
                  @flash.get("error")
                </div>
              }
              @Messages("quick_calc.about_tax_code.has_tax_code")<br>
              <input type="text" id="code" name="code" value="">

            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      }

    </div>

    <div class="grid-layout__column grid-layout__column--1-3">
      @you_have_told_us(youHaveToldUsItems)
    </div>
  </div>

}