@import play.api.i18n._
@import views.html.helper._

@(amountField: Field, amountLabel: String, maybeHowManyLabel: Option[String] = None, maybeHowManyField: Option[Field] = None)(implicit messages: Messages)

@elementsFor(f: Field) = @{ FieldElements(f.id, f, null, Map.empty, messages) }

<div id="parent-@{amountField.id}" class="panel-indent">
  <label class="@if(elementsFor(amountField).hasErrors){form-field--error}" for="@amountField.name">
    @elementsFor(amountField).errors.map { error => <span class="error-notification"> @Messages(error) </span> }
    @amountLabel
    <input
      type="text"
      class="form-control--block"
      name="@amountField.name"
      value="@amountField.value"
    />
  </label>

  @for( (howManyLabel, howManyField) <- maybeHowManyLabel.zip(maybeHowManyField) ) {
    <br>
    <label class="@if(elementsFor(howManyField).hasErrors){form-field--error}">
      @elementsFor(howManyField).errors.map { error => <span class="error-notification"> @Messages(error) </span> }
      @howManyLabel
      <input
        type="text"
        class="form-control--block"
        name="@howManyField.name"
        value="@howManyField.value"
      />
    </label>
  }

</div>