@import uk.gov.hmrc.payetaxcalculatorfrontend.model.YouHaveToldUsItem
@import uk.gov.hmrc.payetaxcalculatorfrontend.model.Salary
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.quickcalc.you_have_told_us
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.quickcalc.salary_amount_input
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.payetaxcalculatorfrontend.controllers
@import play.api.i18n._
@import views.html.helper._

@(form: Form[Salary], youHaveToldUsItems: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages)

@radioField = @{ form("salaryType") }
@radioElements = @{ FieldElements(radioField.id, radioField, null, Map.empty, messages) }

@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width")) {

  <div class="grid-layout">

    <div class="grid-layout__column grid-layout__column--2-3">

      <header class="page-header">
        <h1>XX Your gross salary </h1>
      </header>

      @helpers.form(action = controllers.routes.QuickCalcController.submitSalaryForm) {
        <div class="form-group">

          <fieldset class="form-field-group js-visible js-aria-show @if(radioElements.hasErrors){ form-field-error } "
                    id="us-number"
                    data-trigger="js-toggle-trigger">

            @radioElements.errors.map { error => <span class="error-notification">@Messages(error)</span> }

            <label class="block-label" for="us-phone-number-toggle-open">Yearly
              <input type="radio"
                     id="us-phone-number-toggle-open"
                     class="js-toggle-trigger"
                     data-target="us-phone-number-open-target"
                     value="yearly"
                     name="@radioElements.field.name"
                     @if(radioField.value.contains("yearly")) { checked="checked" }
                      required/>
            </label>
            @salary_amount_input(form("amount-yearly"), "How much do you earn a year?")

            <label class="block-label" for="us-phone-number-toggle-close">Monthly
              <input type="radio"
                     id="us-phone-number-toggle-close"
                     class="js-toggle-trigger"
                     data-target="us-phone-number-close-target"
                     value="monthly"
                      name="@radioElements.field.name"
                      @if(radioField.value.contains("monthly")) { checked="checked" }
                      required/>
            </label>
            @salary_amount_input(form("amount-monthly"), "How much do you earn a month?")


            <label class="block-label" for="us-phone-number-2-toggle-close">Weekly
              <input type="radio"
                     id="us-phone-number-2-toggle-close"
                     class="js-toggle-trigger"
                     data-target="us-phone-number-2-close-target"
                     value="weekly"
                     name="@radioElements.field.name"
                      @if(radioField.value.contains("weekly")) { checked="checked" }
                      required/>
            </label>
            @salary_amount_input(form("amount-weekly"), "How much do you earn a week?")

            <label class="block-label" for="us-phone-number-3-toggle-close">Daily
              <input type="radio"
                     id="us-phone-number-3-toggle-close"
                     class="js-toggle-trigger"
                     data-target="us-phone-number-2-close-target"
                     value="daily"
                     name="@radioElements.field.name"
                      @if(radioField.value.contains("daily")) { checked="checked" }
                      required/>
            </label>
            @salary_amount_input(
              form("amount-daily"),
              "How much do you earn a day?",
              Some("How many days a week do you work?"),
              Some(form("howManyAWeek-daily"))
            )


            <label class="block-label" for="us-phone-number-4-toggle-close">Hourly
              <input type="radio"
                     id="us-phone-number-4-toggle-close"
                     class="js-toggle-trigger"
                     data-target="us-phone-number-4-close-target"
                     value="hourly"
                     name="@radioElements.field.name"
                      @if(radioField.value.contains("hourly")) { checked="checked" }
                      required/>
            </label>
            @salary_amount_input(
              form("amount-hourly"),
              "How much do you earn an hour?",
              Some("How many hours a week do you work?"),
              Some(form("howManyAWeek-hourly"))
            )


          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      }


    </div>

    <div class="grid-layout__column grid-layout__column--1-3">
        @you_have_told_us(youHaveToldUsItems)
    </div>

  </div>

}

