@import play.api.i18n._
@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.{ScottishRate, YouHaveToldUsItem}
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template

@(scottishRate: Form[ScottishRate], youHaveToldUsItems: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages)
@radioField = @{ scottishRate("scottishRate") }

@main_template(title = Messages("quick_calc.salary.question.scottish_income"), mainClass = Some("full-width")) {

  @beta_header()

  <a class="link-back" id="sr-back" href="@{youHaveToldUsItems.flatMap(y => if (y.label == "about_tax_code") y.url else "")}">@Messages("back")</a>

  <div class="grid-layout__column grid-layout__column--2-3">

    @if(scottishRate.hasErrors) {
      <div class="flash error-summary error-summary--show"
      id="error-summary-display"
      role="alert"
      aria-labelledby="error-summary-heading"
      tabindex="-1">
        <h2 id="error-summary-heading" class="h3-heading">@Messages("quick_calc.salary.error_header")</h2>
        <ul>
          <li><a href="#scottishRateError">@{
            Messages("quick_calc.salary.question.scottish_income_error_link")
          }</a></li>
        </ul>
      </div>
    }

    <h1 class="heading-large">@Messages("quick_calc.salary.question.scottish_income")</h1>

    <p>@Messages("quick_calc.salary.question.scottish_income_info")</p>

    <p class="faded-text faded-text--small">@Messages("quick_calc.salary.question.scottish_income_url_a") <a href="https://www.gov.uk/scottish-rate-income-tax" target="_blank">@Messages("quick_calc.salary.question.scottish_income_url_b")</a>
      @Messages("quick_calc.salary.question.scottish_income_url_c")</p>


    <form action = "@uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.QuickCalcController.submitScottishRateForm()" method="post">
      @helper.CSRF.formField

      <div class="form-group">
        <fieldset class="inline form-field-group">

            @if(scottishRate("scottishRate").hasErrors){
              <fieldset class="form-field--error">
                <div class="error-notification" id="scottishRateError">
                @{scottishRate("scottishRate").errors.head.message}
                </div>
            } else {<fieldset>}

            <legend class="visuallyhidden">@Messages("quick_calc.salary.question.scottish_income")</legend>

            <label class="block-label" for="scottishRate-yes">@Messages("quick_calc.over_state_pension_age.yes")
              <input type="radio"
              id="scottishRate-yes"
              name="scottishRate"
              value="true"
                @if(radioField.value.contains("true")) { checked="checked" } />
            </label>

            <label class="block-label" for="scottishRate-no">@Messages("quick_calc.over_state_pension_age.no")
              <input type="radio"
              id="scottishRate-no"
              name="scottishRate"
              value="false"
                @if(radioField.value.contains("false")) { checked="checked" } />
            </label>

          </fieldset>
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" id="sr-continue" class="button" value="@Messages("continue")">
      </div>
    </form>

  </div>
    <div class="grid-layout__column grid-layout__column--1-3">
  </div>

}