@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.YouHaveToldUsItem
@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.UserTaxCode
@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.UserTaxCode._
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.payetaxcalculatorfrontend.controllers
@import views.html.helper._
@import uk.gov.hmrc.play.views.html._


@(userTaxCodeForm: Form[UserTaxCode], youHaveToldUsItems: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("quick_calc.about_tax_code.header"), mainClass = Some("full-width")) {

  @beta_header()

  <a class="link-back" id="tc-back" href="@{youHaveToldUsItems.flatMap(y => if (y.label == "over_state_pension_age") y.url else "")}">@Messages("back")</a>

  <div class="grid-layout__column grid-layout__column--2-3">

    @if(userTaxCodeForm("hasTaxCode").hasErrors) {
      <div class="flash error-summary error-summary--show"
      id="error-summary-display"
      role="alert"
      aria-labelledby="error-summary-heading"
      tabindex="-1">
        <h1 id="error-summary-heading" class="h2-heading">@Messages("quick_calc.salary.error_header")</h1>
        <ul>
          <li><a id="hasTaxCodeErrorHeader" href="#hasTaxCodeError">@{
            Messages("quick_calc.about_has_tax_code_error_link")
          }</a></li>
        </ul>
      </div>
    }

    @if(userTaxCodeForm("taxCode").hasErrors) {
      <div class="flash error-summary error-summary--show"
      id="error-summary-display"
      role="alert"
      aria-labelledby="error-summary-heading"
      tabindex="-1">
        <h2 id="error-summary-heading" class="h3-heading">@Messages("quick_calc.salary.error_header")</h2>
        <ul>
          <li><a id="taxCodeErrorHeader" href="#taxCode">
          @if(userTaxCodeForm("taxCode").value.isEmpty || userTaxCodeForm("taxCode").value.contains("")){
              @Messages("quick_calc.about_tax_code_error_link")
          }else{
              @Messages("quick_calc.about_tax_code.wrong_tax_code_error_link")

          }</a></li>
        </ul>
      </div>
    }

    <h1 class="heading-large">@Messages("quick_calc.about_tax_code.header")</h1>

    <p>@Messages("quick_calc.salary.question.tax_code_info")</p>

    <p class="faded-text faded-text--small">@Messages("quick_calc.salary.question.tax_code_info_url_a") <a href="https://www.gov.uk/tax-codes/overview" target="_blank">@Messages("quick_calc.salary.question.tax_code_info_url_b")</a></p>

    @helper.form(action = uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.QuickCalcController.submitTaxCodeForm) {
      @helper.CSRF.formField

      <div class="form-group">
        <fieldset class="inline form-field-group js-visible js-aria-show js-toggle"
        id="hasTaxCode"
        data-target="tax-code-yes-target"
        data-trigger="js-toggle-trigger"
        data-open="tax-code-yes"
        data-close="tax-code-no">

          @if(userTaxCodeForm("hasTaxCode").hasErrors){
            <fieldset class="form-field--error">
              <div class="error-notification" id="hasTaxCodeError">
              @{userTaxCodeForm("hasTaxCode").errors.head.message}
              </div>
          } else {<fieldset>}

          <legend class="visuallyhidden">@Messages("quick_calc.about_tax_code.header")</legend>

          <label class="block-label" for="tax-code-yes">@Messages("quick_calc.about_tax_code.has_tax_code_yes")
            <input type="radio"
            id="tax-code-yes"
            class="js-toggle-trigger"
            name="hasTaxCode"
            value="true"
            @checkUserSelection(checkFor = true, userTaxCodeForm)
            @if(userTaxCodeForm("taxCode").errors){
              checked
            }
            />
          </label>

          <label class="block-label" for="tax-code-no">@Messages("quick_calc.about_tax_code.has_tax_code_no")
            <input type="radio"
            id="tax-code-no"
            class="js-toggle-trigger"
            name="hasTaxCode"
            value="false"
            @checkUserSelection(checkFor = false, userTaxCodeForm)
            />
          </label>
        </fieldset>

          <div class="form-field-group @if(!userTaxCodeForm("taxCode").errors){panel-indent} @hideTextField(userTaxCodeForm)"
          id="tax-code-yes-target">

            @if(userTaxCodeForm("taxCode").errors){
              <fieldset class="form-field--error">
              <div class="error-notification" id="taxCodeError">
              @userTaxCodeForm("taxCode").errors.head.message
              </div>
            } else {<fieldset>}
            @Messages("quick_calc.about_tax_code.has_tax_code")<br>
            <input type="text" id="taxCode" name="taxCode" value="@{
              userTaxCodeForm.value match {
                case Some(userTaxCode) => userTaxCode.taxCode
                case _ => ""
              }
            }">

            </fieldset>

          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" id="tc-continue" class="button" value="@Messages("continue")">
      </div>
    }

  </div>

  <div class="grid-layout__column grid-layout__column--1-3">
  </div>

}