@import uk.gov.hmrc.payetaxcalculatorfrontend.quickmodel.YouHaveToldUsItem
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import play.api.i18n._

@(items: List[YouHaveToldUsItem])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width")) {

  @if(items.nonEmpty) {
    <table class="check-your-answers">
      <thead>
          <th colspan="3">
            <h1 class="heading-large">
              @Messages("quick_calc.you_have_told_us.header")
            </h1>
          </th>
      </thead>
      <tbody>
      @items.map { item =>
        <tr>
          <td style="width:50%">@Messages(s"quick_calc.you_have_told_us.${item.label}.label")</td>
          <td id="value-@item.idSuffix">@item.value</td>
          <td><a href="@item.url" id="edit-@item.idSuffix">@Messages("quick_calc.you_have_told_us.edit")</a></td>
        </tr>
      }
      </tbody>
    </table>

    <a href="@uk.gov.hmrc.payetaxcalculatorfrontend.controllers.routes.QuickCalcController.showResult()" id="get-results" class="button" type="submit">@Messages("get_results")</a>
  }

}