@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import play.api.i18n._
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.simplecalc.salary_radio_box
@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.simplecalc.salary_amount_input
@import uk.gov.hmrc.payetaxcalculatorfrontend.simplemodel.Salary
@import uk.gov.hmrc.payetaxcalculatorfrontend.controllers
@import views.html.helper._
@import uk.gov.hmrc.play.views.html._

@(form: Form[Salary])(implicit request: Request[_], messages: Messages)

@radioField = @{
  form("salaryType")
}

@radioElements = @{
  FieldElements(radioField.id, radioField, null, Map.empty, messages)
}

@scriptToLinkRadioToTextBox = {
  <script src='@routes.Assets.at("javascripts/salary_amount.js")' type="text/javascript"></script>
}

@main_template(title = Messages("quick_calc.title"), mainClass = Some("full-width"), scriptElem = Some(scriptToLinkRadioToTextBox)) {


  <div class="grid-layout--stacked">

    <div class="grid-layout__column grid-layout__column--2-3">

      <header class="page-header">
        <h1>@Messages("simple_calc.salary.header")</h1>
      </header>
      <p>@Messages("simple_calc.salary.info")</p>

      @helpers.form(action = controllers.routes.SimpleCalcController.submitSalaryAmount()) {
        @helper.CSRF.formField

        <div class="form-group">
          <fieldset class="form-field-group">
            <label>
            @Messages("calc.salary.enter_salary")
            </label>
            @salary_amount_input(form("amount-salary"))
          </fieldset>

        </div>

        <div class="form-group">
          <label>
          @Messages("calc.salary.select_option_salary")
          </label>

          <fieldset>
            @radioElements.errors.map { error => <span class="error-notification">@Messages(error)</span> }
            @salary_radio_box(radioElements, Messages("calc.salary.yearly"), "yearly")
            @salary_radio_box(radioElements, Messages("calc.salary.monthly"), "monthly")
            @salary_radio_box(radioElements, Messages("calc.salary.weekly"), "weekly")
            @salary_radio_box(radioElements, Messages("calc.salary.daily"), "daily")
            @salary_radio_box(radioElements, Messages("calc.salary.hourly"), "hourly")

          </fieldset>

        </div>

        <div class="form-group">
          <input type="submit" class="button" value="@Messages("continue")">
        </div>
      }
      <a href="@controllers.routes.IndexController.index()">Back</a>
    </div>

  </div>

}
