@import play.api.i18n._
@import views.html.helper._
@import uk.gov.hmrc.payetaxcalculatorfrontend.simplemodel.Salary._

@import views.html.helper.FieldElements

@(radioElements: FieldElements, label: String, frequency: String)(implicit request: Request[_], messages: Messages)

<label class="block-label" for="salary-type-@frequency">

  @label

  <input type="radio"
    id="salary-type-@frequency"
    class="js-toggle-trigger"
    data-target="parent-amount-@frequency"
    value="@frequency"
    name="@radioElements.field.name"
    onclick="setSalaryType()"
    @checkUserSelection(radioElements,frequency)
    required
  />

</label>