@import uk.gov.hmrc.payetaxcalculatorfrontend.views.html.main_template
@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.payetaxcalculatorfrontend.controllers.{ routes => taxCalcRoutes }

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("index.title")) {
<div class="grid-row">

  <div class="column-two-thirds">
    <header class="page-header">
      <h1>@Messages("index.title")</h1>
    </header>

    <p>@Messages("index.introduction")</p>
  </div>

  <br>

  <div class="column-one-half">
    <h2 class="heading-large">
      <a href="@taxCalcRoutes.QuickCalcController.showTaxCodeForm()/">
        @Messages("index.quick_calculation")
      </a>
    </h2>
    <p>@Messages("index.use_the_quick_calc_if")</p>
    <ul class="list list-bullet">
      <li>@Messages("index.employment_only")</li>
      <li>@Messages("index.dont_contribute_pension")</li>
    </ul>
  </div>

  <br>

  <h2>@Messages("index.language_version.header")</h2>
  <p>
    @Link.toInternalPage(
      url = taxCalcRoutes.WelshLanguageController.switchToLanguage(Messages("index.language_version.target_language")).url,
      value = Some(Messages("index.language_version.click_here"))
    ).toHtml
    @Messages("index.language_version.paragraph")
  </p>

</div>
}