@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.payetaxcalculatorfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.layouts

@serviceInfoContent = {
}

@sidebar = {
  @if(sidebarLinks.isDefined) {
      @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
  }
}

@header = {
@if(sidebarLinks.isDefined) {
  @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
}
}

@scriptElems = {
    <script src="@routes.Assets.at("javascripts/ga-events-emit.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/open_details.js")" type="text/javascript"></script>
    @if(scriptElem.isDefined){@scriptElem}
}

@govuk_wrapper(appConfig = FrontendAppConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               scriptElem = Some(scriptElems),
               serviceInfoContent = serviceInfoContent
)
