.interrupt-panel {
  padding: 30px;
  background: #005ea5;
  color: #fff;
}
.text-white {
  color: #fff !important;
}
.display-block {
  display : inline-block
}

.reset-font-weight{
 font-weight: normal;
}
