$govuk-assets-path: "/paye-tax-calculator-frontend/assets/lib/govuk-frontend/govuk/assets/";
@import "lib/govuk-frontend/govuk/all";

@import "timeout-dialog";
@import "language-selection";
@import "seiss";

.app-reference-number {
  display: block;
  font-weight: bold;
}
