$govuk-assets-path: "/paye-tax-calculator-frontend/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/paye-tax-calculator-frontend/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "timeout-dialog";
@import "language-selection";
@import "taxcalc";

.app-reference-number {
  display: block;
  font-weight: bold;
}
